<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuerchong.goods.mapper.CustomerGoodsMapper" >
  <sql id="Example_Where_Clause" >
    <where >
        <if test="goodsVo!=null" >
        	<if test="goodsVo.name!=null">
        		and g.name=#{goodsVo.name}
        	</if>
        </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    g.uuid,g.name,g.origin,g.producer,g.unit,g.inprice,g.outprice,g.sell_point sellPoint,g.status,g.create_time createTime,
	gt.name gtname
  </sql>
  <select id="selectByQuery" resultType="com.liuerchong.goods.vo.GoodsVo" parameterType="com.liuerchong.goods.vo.GoodsQueryVo" >
    select
    <include refid="Base_Column_List" />
    from  goods g left join goodstype gt on g.goodstypeuuid=gt.uuid
      <include refid="Example_Where_Clause" />
  </select>
  <select id="countByQuery" parameterType="com.liuerchong.goods.vo.GoodsQueryVo" resultType="java.lang.Integer" >
    select count(*) from goods g left join goodstype gt on g.goodstypeuuid=gt.uuid
      <include refid="Example_Where_Clause" />
  </select>
</mapper>